body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  padding: 1rem;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-v > *:not(:last-child) {
  margin-bottom: 1rem;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-h > *:not(:last-child) {
  margin-right: 1rem;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.bg-red {
  background: #fee2e2;
  padding: 1rem;
}

.bg-green {
  background: #dcfce7;
  padding: 1rem;
}

.bg-blue {
  background: #e0f2fe;
  padding: 1rem;
}

.bg-yellow {
  background: #fef9c3;
  padding: 1rem;
}

.w-12 {
  width: 12rem;
}

.w-24 {
  width: 24rem;
}

.w-36 {
  width: 36rem;
}

.w-48 {
  width: 48rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(2, 1fr);
}

.error {
  color: red;
}
